*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

body{
    background: #2a2a2a;
    overflow-y: hidden;
}

section.first{
    width: 100%;
    max-width: 1200px;
    margin: 60px auto;
    height: 100%;
    max-height: 600px;

}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:250px ;
}

.emoji i {
    color: yellow;
    font-size: 50px;
    margin-bottom: 20px;
}

.emoji{
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='text']{
    width: 300px;
    border-radius: 20px;
    outline: none;
    padding: 10px 20px;
    background: transparent;
    text-align: center;
    color: white;
    border: 1px solid white;
    margin-bottom: 15px;
}

.type-of-emoji p.bad{
    border: 1px solid black;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 35, 35);
    color: white;
    border-radius: 10px;
}

.type-of-emoji{
    display: flex;
}

.type-of-emoji p.good{
    border: 1px solid black;
    padding: 5px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(26, 228, 39);
    color: black;
    border-radius: 10px;
    gap: 10px;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.button button{
    padding: 5px 12px;
    border-radius: 10px;
    background: gray;
    border: 1px solid gray;
    color: white;
    font-size: 18px;
}

/* DROPDOWN */
.dropdown{
    min-width: 1rem;
    position: relative;
   margin-top: 10px;
}

.drop-it{
    min-width: 1rem;
    position: relative;
    margin: 1rem;
}

.dropdown *{
    box-sizing: border-box;
}

.select{
    background-color: #2a2f3b;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5rem;
    padding: .7rem;
    cursor: pointer;
    transition: background 0.3s;
}

/* CLICKED STYLES */
.select-clicked{
    border: 2px #26489a solid;
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background-color: #323741;

}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.filters{
    display: flex;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2rem .5rem;
    background-color: #ffffff;
    border: 1px #363a43 solid;
    box-shadow:  0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #7b7f88;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}

.dropdown{
    width: 100%;
}

.dropdowns{
    width: 100%;
}

.menu li{
    padding: 0.4em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em; 
    cursor: pointer;
}

.menu li:hover{
    background-color: #34373e;
    color: #fff;
}

.active{
    background: #34373e;
}

/* FOR JS OPEN STYLES */
.menu-open{
    display: block;
    opacity: 1;
}